<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
       <%= link_to "Ruby on Rails App", root_path, id: "logo" %>
       <nav>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "User", users_path %></li>
            <li>
            <%= link_to "Log out", logout_path, method: :get %>
          </li>
          <% else %>
          <li><%= button_to 'Đăng nhập bằng Google', '/auth/google_oauth2'%></li>
         <% end %>
       </nav>
    </div>
 </header>